<!-- index.nunjucks -->
{% extends "layout.html" %} <!-- include layout on every page -->

{% block content %}
<div class="content">
	<div class = "port-work">
		<header>
			<h1 >Highlights from recent and past reporting</h1>
			<p>Bayliss Wagner</p>
		</header>
		<!--TEMPLATE
		<ul>
		<li>
			<a target = "_blank" href=""> title </a>, <em>outlet</em>, date
		</li>
		</ul>
		-->
		<ul>
		<li>
			<a target = "_blank" href="https://magazine.swarthmore.edu/issue/spring-summer-2023/forever-trending/"> Forever Trending</a>, <em>The Swarthmore Bulletin</em>, July 2023
		</li>
		<li>
			<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2022/06/02/fact-check-roundup-mass-school-shooting-uvalde-texas/7473896001/"> Fact check roundup: What's true and what's false about the mass school shooting in Uvalde, Texas</a>, <em>USA TODAY</em>, June 2, 2022
		</li>
		<li>
			<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/12/23/fact-check-47-american-young-adults-live-their-parents/8672598002/"> Fact check: Viral post about young adults living with parents misses crucial context</a>, <em>USA TODAY</em>, Dec. 23, 2021
		</li>
		<li>
			<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/10/18/fact-check-autopsy-illinois-man-did-not-find-missing-organs-bones/8450107002/"> Fact check: False claims of organ harvesting, mutilation in death of Illinois student Jelani Day</a>, <em>USA TODAY</em>, Oct. 18, 2021
		</li>
		<li>
			<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/07/29/fact-check-claim-worlds-largest-fungus-uses-altered-images/8059686002/"> Fact check: Fake photos of 'humongous fungus,' world's largest living organism, are circulating online</a>, <em>USA TODAY</em>, July 30, 2021
		</li>
		<li>
			<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/06/28/fact-check-covid-19-vaers-death-reports-not-verified/7587577002/"> Fact check: Vaccine Adverse Reporting System isn't proof of COVID-19 vaccine deaths</a>, <em>USA TODAY</em>, June 28, 2021
		</li>
		<li>
			<a target = "_blank" href="https://swarthmorephoenix.com/2020/06/30/students-weigh-in-on-fall-2020/"> Survey: Awaiting Fall 2020 plan, students face housing uncertainty, safety concerns</a>, <em>The Swarthmore Phoenix</em>, June 30, 2020
		</li>
		<li>
			<a target = "_blank" href="https://swarthmorephoenix.com/2019/04/18/47956/"> (National) Cult of Misogyny: Leaked Internal Documents Reveal Silence Around Harmful Culture at Phi Psi </a>, <em>The Swarthmore Phoenix</em>, April 18, 2019
		</li>
		<li>
			<a target = "_blank" href="https://listenersofwamu.wordpress.com/2016/08/24/listeners-of-wamu-catherine-white/">Listeners of WAMU Project: Catherine White</a>, <em>August 24, 2016</em>
		</li>
		<li>
			<a target = "_blank" href="https://swarthmorephoenix.com/2020/04/30/pandemic-policy-change/"> Eliminating Letter Grades for Spring 2020: How It Happened </a>, <em>April 30, 2020</em>
		</li>
		<li>
			<a target = "_blank" href="https://swarthmorephoenix.com/2018/02/08/p-a-redistricting-likely-to-amplify-swarthmore-students-voices-in-midterm-election/"> Brief: P.A. redistricting likely to amplify Swarthmore students’ voices in midterm election </a>, <em>The Swarthmore Phoenix</em>, Feb. 8, 2018
		</li>
		<li>
			<a target = "_blank" href="https://swarthmorephoenix.com/2018/05/03/o4s-occupies-offices-of-dean-braun-and-dean-miller-in-ongoing-protest/"> O4S occupies offices of Dean Braun and Dean Miller in ongoing protest</a>, <em>The Swarthmore Phoenix</em>, May 3, 2018
		</li>

		</ul>

	</div>
</div>
<!-- Footer
<footer id="footer">
	<p class="copyright">&copy; The design of this website is derived from <a href="https://html5up.net/editorial"> the HTML5UP Editorial theme</a> by @ajlkn,
	which is licensed under <a href= "html5up.net/license">CC BY 3.0</a>.
	Modified design of site by Bayliss Wagner. Licensed under <a href= "https://creativecommons.org/licenses/by/3.0/us/">CC BY 3.0</a>.</p>
</footer>-->
</div>

</div>
{% endblock %}
