<!-- index.nunjucks -->
{% extends "layout.html" %} <!-- include layout on every page -->

{% block content %}
<div class="content">
	<div class = "port-work">
		<header>
			<h1 >Highlights from recent and past reporting</h1>
			<p>Bayliss Wagner</p>
		</header>
		<table>
			<!--TEMPLATE
			<td>
				<h4><a target = "_blank" href=""> title </a></h4>
				<h4><em>outlet</em>, date</h4>
				<span class="image fit">
					<img src = "IMAGEPATH" alt = "'"/>
					<<figcaption></figcaption>

				</span>
				<p> description:  </p>
				<a target = "_blank" href="" class="button primary"> Read more </a>
			</td>
			-->
			<tr>
				<td>
					<h4><a target = "_blank" href="https://magazine.swarthmore.edu/issue/spring-summer-2023/forever-trending/"> Forever Trending </a></h4>
					<h4><em>The Swarthmore Bulletin</em>, July 2023</h4>
					<span class="image fit"><img src = "images/gregbros.jpeg" alt = "The Gregory Brothers holding record award"/><figcaption>Photo: The Gregory Brothers.</figcaption></span>
					<p></p>
					<a target = "_blank" href="https://magazine.swarthmore.edu/issue/spring-summer-2023/forever-trending/" class="button primary"> Read more </a>
				</td>
				<td>
					<h4><a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2022/06/02/fact-check-roundup-mass-school-shooting-uvalde-texas/7473896001/"> Fact check roundup: What's true and what's false about the mass school shooting in Uvalde, Texas </a></h4>
					<h4><em>USA TODAY</em>, June 2, 2022</h4>
					<span class="image fit">
						<img src = "https://www.usatoday.com/gcdn/presto/2022/06/01/USAT/36a9a315-c2dc-44c2-a18d-edb3f6573142-XXX_TH_uvalde1006.JPG?width=1320&height=1000&fit=crop&format=pjpg&auto=webp" alt = "'"/>
						<<figcaption>Photo: Trevor Hughes/USA TODAY</figcaption>

					</span>
					<p> description:  </p>
					<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2022/06/02/fact-check-roundup-mass-school-shooting-uvalde-texas/7473896001/" class="button primary"> Read more </a>
				</td>
				<td>
					<h4><a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/12/23/fact-check-47-american-young-adults-live-their-parents/8672598002/"> Fact check: Viral post about young adults living with parents misses crucial context</a></h4>
					<h4><em>Dec. 23, 2021</em></h4>
					<span class="image fit"><img src = "images/youngadults.jpeg" alt = "'"/></span>
					<p> </p>
					<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/12/23/fact-check-47-american-young-adults-live-their-parents/8672598002/" class="button primary"> Read more </a>
				</td>

				<!--https://www.swarthmore.edu/bulletin/archive/summerfall-2020-issue-i-volume-cxviii/waves-change.html#:~:text=to%20take%20place.%E2%80%9D-,WHAT%20CHANGE%20LOOKS%20LIKE,-By%20Bayliss%20Wagner-->
				<!--https://www.swarthmore.edu/news-events/front-lines-change-making-black-experience-visible-->
<!--https://www.usatoday.com/story/news/factcheck/2021/10/18/fact-check-autopsy-illinois-man-did-not-find-missing-organs-bones/8450107002/-->

		</tr>
			<tr>
				<td>
					<h4><a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/10/18/fact-check-autopsy-illinois-man-did-not-find-missing-organs-bones/8450107002/"> Fact check: False claims of organ harvesting, mutilation in death of Illinois student Jelani Day </a></h4>
					<h4><em>USA TODAY</em>, Oct. 18, 2021</h4>
					<span class="image fit"><img src = "images/usat-logo.png" alt = "'"/></span>
					<p></p>
					<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/10/18/fact-check-autopsy-illinois-man-did-not-find-missing-organs-bones/8450107002/" class="button primary"> Read more </a>
				</td>
				<td>
					<h4><a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/07/29/fact-check-claim-worlds-largest-fungus-uses-altered-images/8059686002/"> Fact check: Fake photos of 'humongous fungus,' world's largest living organism, are circulating online</a></h4>
					<h4><em>USA TODAY</em>, July 30, 2021</h4>
					<span class="image fit">
						<img src = "images/fakemushroom.jpeg" alt = "'"/>
						<<figcaption>Photo: Twitter</figcaption>

					</span>
					<p></p>
					<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/07/29/fact-check-claim-worlds-largest-fungus-uses-altered-images/8059686002/" class="button primary"> Read more </a>
				</td>

				<!--<td>
					<h4><a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/09/21/fact-check-viral-claim-exaggerates-historic-changes-home-affordability/5782337001/"> Fact check: Housing is less affordable today than it was in 1970, but viral TikTok exaggerates </a></h4>
					<h4><em>USA TODAY</em>, Sept. 21, 2021</h4>
					<span class="image fit"><img src = "images/jchsfigure1.jpeg" alt = "A graph showing increase in home price to income ratios annually."/><<figcaption>Chart: Harvard JCHS.</figcaption></span>
					<p>  </p>
					<a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/09/21/fact-check-viral-claim-exaggerates-historic-changes-home-affordability/5782337001/" class="button primary"> Read more </a>
				</td>-->
				<td>
					<h4><a target = "_blank" href="https://www.usatoday.com/story/news/factcheck/2021/06/28/fact-check-covid-19-vaers-death-reports-not-verified/7587577002/"> Fact check: Vaccine Adverse Reporting System isn't proof of COVID-19 vaccine deaths </a></h4>
					<h4><em>USA TODAY</em>, June 28, 2021</h4>
					<span class="image fit"><img src = "images/usat-logo.png" alt = "'"/><figcaption>Credit: USA TODAY.</figcaption></span>
					<p> </p>
					<a href="https://www.usatoday.com/story/news/factcheck/2021/06/28/fact-check-covid-19-vaers-death-reports-not-verified/7587577002/"  target = "_blank" class="button primary"> Read more </a>
				</td>

				<!--https://www.swarthmore.edu/bulletin/archive/summerfall-2020-issue-i-volume-cxviii/waves-change.html-->
				<!--https://www.swarthmore.edu/news-events/front-lines-change-making-black-experience-visible-->
<!--https://www.usatoday.com/story/news/factcheck/2021/10/18/fact-check-autopsy-illinois-man-did-not-find-missing-organs-bones/8450107002/-->
				<!--<td>
					<h4> <a target = "_blank" href="https://swarthmorephoenix.com/2019/04/18/47956/"> (National) Cult of Misogyny: Leaked Internal Documents Reveal Silence Around Harmful Culture at Phi Psi </a> </h4>
					<h4><em>April 18, 2019</em></h4>
					<span class = "image fit">
							<img src = "https://media.npr.org/assets/img/2019/05/01/ap_19119654752604-b4f30151df8a6519a8dd8b02ec6beb509b3bd7f5-s1600-c85.jpg"/>
							<figcaption>Photo credits to AP.</figcaption>

					</span>
					<p> In spring 2019, I led an investigation into a set of explicit, misogynistic and racist documents that an anonymous source leaked to the school paper late one Thursday night. Before the story <a href="https://www.npr.org/2019/05/02/718969495/swarthmore-fraternities-disband-over-leaked-documents-that-detailed-misogyny"> went national</a>, we had 10 days to figure out how to verify that the documents were real and that they were, in fact, from a campus fraternity. We proved not only that the documents were written by fraternity members about fraternity events, but also that they were circulated openly among the members on a Swarthmore listserv. </p>
					<a target = "_blank" href="https://swarthmorephoenix.com/2019/04/18/47956/" class="button primary"> Read the full story </a>
				</td>

				<td>
					<h4> <a target = "_blank" href="https://listenersofwamu.wordpress.com/2016/08/24/listeners-of-wamu-catherine-white/">Listeners of WAMU Project: Catherine White</a></h4>
					<h4><em>August 24, 2016</em></h4>
					<iframe width="100%" height="175%" scrolling="yes" frameborder=15px src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/279720695&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
					<p> <br> This full-length radio-style story, which was recognized in the Journalism Education Association's 2017 "Best High School Journalism" showcase, profiles a listener of WAMU 88.5 about why she listens, what she cares about, and her passions. I created this story while interning for WAMU's <a href="https://listenersofwamu.wordpress.com/">"Listeners of WAMU" project</a> in the summer of 2016. </p>
					<a href = "https://listenersofwamu.wordpress.com/" class = "button primary"> Click here for more from the project <a>
				</td>-->

				<!-- <td>
					<h4> <a target = "_blank" href="https://swarthmorephoenix.com/2018/02/08/p-a-redistricting-likely-to-amplify-swarthmore-students-voices-in-midterm-election/"> Brief: P.A. redistricting likely to amplify Swarthmore students’ voices in midterm election </a> </h4>
					<span class = "image fit"><img src = "https://swarthmorephoenix.com/wp-content/uploads/2018/02/Screen-Shot-2018-02-07-at-10.59.41-PM-800x445.png" alt = "Map of district lines in PA district 7."/></span>
					<p> "Under the 2011 Pennsylvania Congressional Redistricting Act, the Republican-majority Pa. General Assembly moved Swarthmore out of the 7th district, of which it had been a part for over 75 years, and into the 1st district, grouping it with reliably Democratic Philadelphia suburbs. Outside of a district so gerrymandered it has been nicknamed “Goofy Kicking Donald Duck,” the cutout of Swarthmore now outlines Goofy’s left arm, and at the neck of the peninsula-like shape that envelops the town, the 1st district is no wider than ½ mile..."</p>
					<a target = "_blank" href="https://swarthmorephoenix.com/2018/02/08/p-a-redistricting-likely-to-amplify-swarthmore-students-voices-in-midterm-election/" class="button primary"> Read the full story </a>
				</td> -->
		</tr>
			<tr>
				<td>
					<h4><a target = "_blank" href="https://swarthmorephoenix.com/2020/06/30/students-weigh-in-on-fall-2020/"> Survey: Awaiting Fall 2020 plan, students face housing uncertainty, safety concerns </h4></a>
					<h4><em>The Swarthmore Phoenix</em>, June 30, 2020</h4>
					<span class="image fit"><img src = "images/chart.png" alt = "'"/></span>
					<p> This data-driven story uses visualizations and a graphic layout along with student testimony to illustrate campus sentiment during this particularly odd and isolating period of time. </p>
					<a target = "_blank" href="https://swarthmorephoenix.com/2020/06/30/students-weigh-in-on-fall-2020/" class="button primary"> See the full story </a>
				</td>
				<td>
					<h4> <a target = "_blank" href="https://swarthmorephoenix.com/2019/04/18/47956/"> (National) Cult of Misogyny: Leaked Internal Documents Reveal Silence Around Harmful Culture at Phi Psi </a> </h4>
					<h4><em>The Swarthmore Phoenix</em>, April 18, 2019</h4>
					<span class = "image fit">
							<img src = "https://media.npr.org/assets/img/2019/05/01/ap_19119654752604-b4f30151df8a6519a8dd8b02ec6beb509b3bd7f5-s1600-c85.jpg"/>
							<figcaption>Photo: AP.</figcaption>

					</span>
					<p> In spring 2019, I led an investigation into a set of explicit, misogynistic and racist documents that an anonymous source leaked to the school paper late one Thursday night. Before the story <a href="https://www.npr.org/2019/05/02/718969495/swarthmore-fraternities-disband-over-leaked-documents-that-detailed-misogyny"> went national</a>, we had 10 days to figure out how to verify that the documents were real and that they were, in fact, from a campus fraternity. We proved not only that the documents were written by fraternity members about fraternity events, but also that they were circulated openly among the members on a Swarthmore listserv. </p>
					<a target = "_blank" href="https://swarthmorephoenix.com/2019/04/18/47956/" class="button primary"> Read the full story </a>
				</td>

				<td>
					<h4> <a target = "_blank" href="https://listenersofwamu.wordpress.com/2016/08/24/listeners-of-wamu-catherine-white/">Listeners of WAMU Project: Catherine White</a></h4>
					<h4><em>August 24, 2016</em></h4>
					<iframe width="100%" height="175%" scrolling="yes" frameborder=15px src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/279720695&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
					<p> <br> This full-length radio-style story, which was recognized in the Journalism Education Association's 2017 "Best High School Journalism" showcase, profiles a listener of WAMU 88.5 about why she listens, what she cares about, and her passions. I created this story while interning for WAMU's <a href="https://listenersofwamu.wordpress.com/">"Listeners of WAMU" project</a> in the summer of 2016. </p>
					<a href = "https://listenersofwamu.wordpress.com/" class = "button primary"> Click here for more from the project <a>
				</td>

				<!-- <td>
					<h4> <a target = "_blank" href="https://swarthmorephoenix.com/2018/02/08/p-a-redistricting-likely-to-amplify-swarthmore-students-voices-in-midterm-election/"> Brief: P.A. redistricting likely to amplify Swarthmore students’ voices in midterm election </a> </h4>
					<span class = "image fit"><img src = "https://swarthmorephoenix.com/wp-content/uploads/2018/02/Screen-Shot-2018-02-07-at-10.59.41-PM-800x445.png" alt = "Map of district lines in PA district 7."/></span>
					<p> "Under the 2011 Pennsylvania Congressional Redistricting Act, the Republican-majority Pa. General Assembly moved Swarthmore out of the 7th district, of which it had been a part for over 75 years, and into the 1st district, grouping it with reliably Democratic Philadelphia suburbs. Outside of a district so gerrymandered it has been nicknamed “Goofy Kicking Donald Duck,” the cutout of Swarthmore now outlines Goofy’s left arm, and at the neck of the peninsula-like shape that envelops the town, the 1st district is no wider than ½ mile..."</p>
					<a target = "_blank" href="https://swarthmorephoenix.com/2018/02/08/p-a-redistricting-likely-to-amplify-swarthmore-students-voices-in-midterm-election/" class="button primary"> Read the full story </a>
				</td> -->
		</tr>
			<tr>
				<td>
					<h4> <a target = "_blank" href="https://swarthmorephoenix.com/2020/04/30/pandemic-policy-change/"> Eliminating Letter Grades for Spring 2020: How It Happened </a> </h4>
					<h4><em>April 30, 2020</em></h4>
					<span class = "image fit">
							<img src = "images/faculty_vote.png"/>
							<figcaption></figcaption>
					</span>
					<p> Investigation, with data visualizations, into how and why the College arrived at the decision to make all grades pass/fail for the Fall 2020 semester.</p>
					<a target = "_blank" href="https://swarthmorephoenix.com/2020/04/30/pandemic-policy-change/" class="button primary"> Read the full story </a>
				</td>
				<td>
					<h4> <a target = "_blank" href="https://swarthmorephoenix.com/2018/02/08/p-a-redistricting-likely-to-amplify-swarthmore-students-voices-in-midterm-election/"> Brief: P.A. redistricting likely to amplify Swarthmore students’ voices in midterm election </a> </h4>
					<span class = "image fit"><img src = "https://swarthmorephoenix.com/wp-content/uploads/2018/02/Screen-Shot-2018-02-07-at-10.59.41-PM-800x445.png" alt = "Map of district lines in PA district 7."/></span>
					<p> "Under the 2011 Pennsylvania Congressional Redistricting Act, the Republican-majority Pa. General Assembly moved Swarthmore out of the 7th district, of which it had been a part for over 75 years, and into the 1st district, grouping it with reliably Democratic Philadelphia suburbs. Outside of a district so gerrymandered it has been nicknamed “Goofy Kicking Donald Duck,” the cutout of Swarthmore now outlines Goofy’s left arm, and at the neck of the peninsula-like shape that envelops the town, the 1st district is no wider than ½ mile..."</p>
					<a target = "_blank" href="https://swarthmorephoenix.com/2018/02/08/p-a-redistricting-likely-to-amplify-swarthmore-students-voices-in-midterm-election/" class="button primary"> Read the full story </a>
				</td>
				<!--<td>
					<h4> <a target = "_blank" href="https://listenersofwamu.wordpress.com/2016/08/24/listeners-of-wamu-kia-chatmon/">Listeners of WAMU Project: Catherine White </a></h4>
					<h4><em>August 24, 2016</em></h4>
					<iframe width="100%" height="175%" scrolling="yes" frameborder=15px src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/279720695&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
					<p> <br> This full-length NPR-style story, which was recognized in the Journalism Education Association's 2017 "Best High School Journalism" showcase, profiles a listener of WAMU 88.5 about why she listens, what she cares about, and her passions. I created this story while interning for WAMU's <a href="https://listenersofwamu.wordpress.com/">"Listeners of WAMU" project</a> in the summer of 2016. </p>
					<a href = "https://listenersofwamu.wordpress.com/" class = "button primary"> Click here for more from the project <a>
				</td>-->
				<td>
					<h4><a target = "_blank" href="https://swarthmorephoenix.com/2018/05/03/o4s-occupies-offices-of-dean-braun-and-dean-miller-in-ongoing-protest/"> O4S occupies offices of Dean Braun and Dean Miller in ongoing protest </h4></a>
					<h4><em>May 3, 2018</em></h4>
					<span class="image fit"><img src = "http://swarthmorephoenix.com/wp-content/uploads/2018/05/SitIn-3_preview-1024x768.jpeg" alt = "Two women holding a poster that reads 'accountability is beth pitts resigning.'"/></span>
					<p> "At 9:15 a.m. on Tuesday, May 1, over 30 students filed into Dean of Students Liz Braun’s office on the first floor of Parrish Hall. As Braun rose from her seat, the students — members of Organizing for Survivors, a group that has protested Title IX handling at the college since early March — placed their backpacks on the floor beside them and announced their plans to stay there indefinitely." </p>
					<a target = "_blank" href="https://swarthmorephoenix.com/2018/05/03/o4s-occupies-offices-of-dean-braun-and-dean-miller-in-ongoing-protest/" class="button primary"> Read the full story </a>
				</td>

		</tr>
		</table>
	</div>
</div>
<!-- Footer
<footer id="footer">
	<p class="copyright">&copy; The design of this website is derived from <a href="https://html5up.net/editorial"> the HTML5UP Editorial theme</a> by @ajlkn,
	which is licensed under <a href= "html5up.net/license">CC BY 3.0</a>.
	Modified design of site by Bayliss Wagner. Licensed under <a href= "https://creativecommons.org/licenses/by/3.0/us/">CC BY 3.0</a>.</p>
</footer>-->
</div>

</div>
{% endblock %}
