@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");

/*
    Design  by Bayliss Wagner
*/
body{
    font-family: "Merriweather", serif;
    margin: 0;
    border: 0;
    font-size: 12px;
}


#header{
    position: fixed;
    margin: 5px 5px 5px 5px;
    height: 25%;
    width: 100%;
    padding: 10px 5px 5px 5px;
    border-bottom: solid 15px #DCFEF0;
    position: relative;
    line-height: .5;
    background-image: "images/profile.jpg";
}

table #header{
    padding: 5px;
    overflow: auto;
    margin: 100px 100px 100px 100px;
}


header td{
    width: 50%;
    padding: 5px;
    border: 0px;
}

header #profile {
    width: 175px;
    height: 175px;
    position: relative;
    margin-left: 300px;
    border-radius: 0.375em;
    display: inline-block;
}

header h2,  h3, h4, h5, h6{
    font-family:"Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /*color: #3d4449;*/
    font-weight: 700;
    margin: 0 0 1em 0;
}

    a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {

        color: inherit;
        text-decoration: none;
        border-bottom: 0;
    }

h1 {
    font-size: 4em;
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}
