
<!-- Banner -->
  <section id="banner">
    <div class="content">
      <div class = "textsection">
        <h1>Bayliss Wagner</h1>


        <p> Hi, I'm Bayliss. I believe in the power of digital media to reach new audiences, and I am interested in how we can use humanistic practices alongside statistical and computational tools to inform, connect, and tell stories better.	</p>
        <h3> What I'm currently up to: </h3>
        <ul>
          <li> Debunking social media misinformation as a <a href="https://www.usatoday.com/staff/4388802001/bayliss-wagner/" target="_blank">fact-check reporting fellow at USA TODAY.	</a></li>
          <li> Tweeting @ <a href="https://twitter.com/baylisswagner" target="_blank"> twitter.com/baylisswagner	</a></li>
          <li> <a href="https://github.com/jbaylisswagner" target="_blank"> Coding this portfolio site</a> (because why practice self-care when you can try the same line of CSS in three different places instead?)</li>
          <li> Reading <em>The Future is History: How Totalitarianism Reclaimed Russia</em> by Masha Gessen</li>
        </ul>
        <p>Please feel free to explore this site and check out my work, and <a href= "https://resume.creddle.io/resume/8ao9jch5yn8" target = "_blank">click here to see my resume.</a> </p>
        <!-- <p> </p> -->
      </div>
      <div id="banner" class="image rightbox">
        <img src="images/profile2.jpg" class = "img-fluid rounded float-right" alt="Photo of myself." width = "500" height = "350" />
      </div>

    </div>

  </section>
