
<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Bayliss Wagner</h1>
      </header>

      <p>I am an enthusiastic writer, coder, reporter, and reader in Swarthmore's Class of 2021. </p>

      <h3>What I'm currently up to:</h3>
      <ul>
        <li> Coding this portfolio site (because why practice self-care when you can try the same line of CSS in three different places instead?)</li>
        <li> Cooking and posting my quarantine recipes on <a href="https://www.instagram.com/baylisscooks/">Instagram</a> (like everyone else you know)</li>
        <li> Interviewing students and writing about them for the <a href="https://www.swarthmore.edu/news-events">Swarthmore College News & Events page</a> and the <a href="https://bulletin.swarthmore.edu/">alumni magazine</a> </li>
        <!-- <li> Starting research on the function of social connections in undergraduate programs and how they change in online learning for the <a href="https://aydelotte.swarthmore.edu/">Aydelotte Foundation</a></li>
        <li> Keeping a quarantine journal (my friend who just took a course on the Black Plague told me to keep a "plague journal," but let's just refer to it this way) </li>

        <li>Monitoring <a href="https://swarthmorephoenix.com/"><em>The Phoenix</em> website.</a> I have learned that 1) CleanTalk is the best anti-spam plugin and 2) comments need to be verified... one spam attack was enough for me. </li>
        <li>More coding (check out my GitHub profile <a href="https://github.com/jbaylisswagner">here</a>!)</li>
         -->
        <!-- <li>Reading:</li>
          <ul>
            <li><a href= "http://www.eurolitnetwork.com/elit-book-tip-maryam-madjidi-marx-et-la-poupee-by-katja-petrovic/"><em>Marx et la Poupée</em></a> by Maryam Madjiji</li>
            <li><a href="https://www.nytimes.com/2005/09/18/books/review/zadie-smiths-culture-warriors.html"><em>On Beauty</em></a> by Zadie Smith</li>
          </ul>
        <li>Watching:</li>
            <ul>
              <li> Queen's Gambit </li>
              <li> Call My Agent <a href= "https://www.netflix.com/title/80133335">on Netflix</a></li>
            </ul>-->
      </ul>
      <p> <a href= "https://resume.creddle.io/resume/bmg1wbk6k18" target = "_blank">Click here to see my resume.</a> </p>
      <!--<ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul>-->
    </div>
    <span class="image object">
      <img src="images/profile2.jpg" class = "img-fluid rounded float-right" alt="Photo of myself." width = "500" height = "350" />
    </span>
  </section>
