
<!-- Banner -->
  <section id="banner">
    <div class="content">
      <div class = "textsection">
        <h1>Bayliss Wagner</h1>
        <!--add icons for linkedin, etc here?-->


        <p> Hi, I'm Bayliss. I believe in the power of digital media to reach new audiences, and I am interested in how we can use humanistic practices alongside statistical and computational tools to inform, connect, and tell stories better.	</p>
        <h3> What I'm currently up to: </h3>
        <ul>
          <li> Freelance writing (see my latest work <a href="https://magazine.swarthmore.edu/issue/spring-summer-2023/forever-trending/" target="_blank">here</a>)</li>
          <li> Tweeting @ <a href="https://twitter.com/baylisswagner" target="_blank"> twitter.com/baylisswagner	</a></li>
					<li> Reading <em>Provence, 1970: M.F.K. Fisher, Julia Child, James Beard, and the Reinvention of American Taste</em> by Luke Barr</li>
					<!--<li> Tracking my reading list on <a href="https://" target="_blank"> GoodReads	</a> </li>-->
			    <li> Developing this portfolio site <a href="https://github.com/jbaylisswagner/jbaylisswagner.github.io" target="_blank"> here</a> (because why practice self-care when you can try the same line of CSS in three different places instead?)

          </li>
          <!--<li> This page is:
            <ul>
              <li>developed and built using gulp.js tasks</li>
              <li>developed and built using gulp.js tasks</li>
            </ul>
          </li>-->
        </ul>
        <p>Please feel free to explore this site and check out my work!</p>
        <!-- <p> </p> -->
      </div>
      <div id="banner" class="image rightbox">
        <img src="images/profile2.jpg" class = "img-fluid rounded float-right" alt="Photo of myself." width = "500" height = "350" />
      </div>

    </div>

  </section>
